---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Container from "../components/Container.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.webp";
import noodle from "../assets/noodle.webp";
import spices from "../assets/spices.webp";
import leaves from "../assets/leaves.webp";
import plate1 from "../assets/plate1.webp";
import plate2 from "../assets/plate2.webp";
import plate3 from "../assets/plate3.webp";
import pizza from "../assets/pizza.webp";
import pizzaSlice from "../assets/pizza-slice.webp";
---

<Layout title="Italian Food Landing Page">
  <main
    class="h-[100dvh] bg-primary-600 bg-hero-pattern bg-cover bg-left-top bg-no-repeat font-sans md:h-[130dvh] lg:h-full lg:pb-24"
  >
    <Navbar />

    <!-- Hero section -->
    <section
      class="flex flex-col px-6 md:items-center md:justify-evenly md:px-12 lg:flex-row"
    >
      <div>
        <Image class="w-24" src={logo} alt="your logo" />
        <h1
          class="font-itali text-[6em] text-neutral-100 md:text-nowrap md:text-[10em]"
        >
          Italian Food
        </h1>
        <div class="space-y-4 md:space-y-12">
          <p
            class="text-[1em] font-semibold italic text-neutral-100 md:text-[2em]"
          >
            Loremipsum dolor
          </p>
          <div class="space-y-2 md:space-y-4">
            <Button variant="secondary">Read more</Button>
            <p
              class="w-[34ch] text-xs italic tracking-wider text-neutral-100/90 md:text-base"
            >
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem sit
              amet. Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
      </div>

      <div class="relative max-w-[600px]">
        <Image src={noodle} alt="a plate of spagettie" />
        <Image
          class="absolute -right-6 -top-24 w-1/2 lg:-left-48 lg:top-96"
          src={spices}
          alt="a small bowl of spice"
        />
        <Image
          class="-right-22 absolute -bottom-32 w-3/4 md:-bottom-56 md:-right-12"
          src={leaves}
          alt="pieces of leave"
        />
      </div>
    </section>
  </main>

  <!-- Dishes section -->
  <Container>
    <h2 class="font-itali text-[4em] md:text-[6em]">Lorem, ipsum dolor</h2>
    <p class="mb-10 max-w-[50ch] text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, aperiam!
      Lorem, ipsum consectetur Velit, ab.
    </p>

    <div
      class="my-12 flex flex-col items-center justify-center gap-12 md:mb-20 md:flex-row"
    >
      <div class="mx-4 basis-1/4 space-y-6 text-center">
        <Image src={plate1} alt="a plate of pasta" />
        <h3 class="mb-4 font-semibold">Spaghetti</h3>
        <p class="text-neutral-800">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, aperiam!
        </p>
      </div>
      <div class="md:te mx-4 basis-1/4 space-y-6 text-center">
        <Image src={plate2} alt="a plate of pasta" />
        <h3 class="mb-4 font-semibold">Spaghetti</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, aperiam!
        </p>
      </div>
      <div class="mx-4 basis-1/4 space-y-6 text-center">
        <Image src={plate3} alt="a plate of pasta" />
        <h3 class="mb-4 font-semibold">Spaghetti</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, aperiam!
        </p>
      </div>
    </div>
    <Button class="px-10" variant="secondary">Show more</Button>
  </Container>

  <!-- More info section -->
  <Container class="bg-primary-900">
    <h2 class="font-itali text-[4em] text-neutral-100 md:text-[6em]">
      Lorem Ipsum Dolor
    </h2>
    <article
      class="mb-12 grid grid-cols-1 gap-10 font-sans text-sm text-neutral-200 sm:grid-cols-2 sm:px-24"
    >
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, quidem
        earum commodi cum iure, culpa molestiae voluptas asperiores temporibus
        odio laborum id atque aut dolore esse maiores quibusdam ipsum ratione
        aspernatur incidunt, vel quaerat aliquam? Error doloribus provident
        saepe cupiditate.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, quidem
        earum commodi cum iure, culpa molestiae voluptas asperiores temporibus
        odio laborum id atque aut dolore esse maiores quibusdam ipsum ratione
        aspernatur incidunt, vel quaerat aliquam? Error doloribus provident
        saepe cupiditate.
      </p>
    </article>

    <Button variant="primary">More info</Button>
  </Container>

  <!-- Discount section -->
  <Container>
    <section
      class="flex flex-col items-center justify-center space-y-6 font-sans md:flex-row md:justify-between md:gap-8"
    >
      <div class="order-2 w-full md:w-1/2">
        <h2 class="text-[2em] font-bold sm:w-[18ch]">
          Discount up to 50% All Excursions
        </h2>
        <p class="mb-10 max-w-[50ch] text-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, aperiam!
          Lorem, ipsum consectetur Velit, ab.
        </p>
        <Button variant="secondary" class="px-12">Read more</Button>
      </div>
      <Image
        class="order-1 w-3/4 md:w-1/2"
        src={plate1}
        alt="a plate of pasta"
      />
    </section>

    <section
      class="flex flex-col items-center justify-center space-y-6 py-12 font-sans md:flex-row md:justify-between md:gap-8"
    >
      <div class="order-2 w-full md:order-1 md:w-1/2 md:pl-12">
        <h2 class="text-[2em] font-bold md:w-[18ch]">
          January's Promo: Buy 1 Get 1 Free!
        </h2>
        <p class="mb-10 max-w-[50ch] text-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, aperiam!
          Lorem, ipsum consectetur Velit, ab.
        </p>
        <Button variant="secondary" class="px-12">Read more</Button>
      </div>
      <Image
        class="order-1 w-3/4 md:order-2 md:w-1/2"
        src={plate2}
        alt="a plate of pasta"
      />
    </section>
  </Container>

  <!-- Pizza section -->
  <section
    class="relative flex h-[60vh] w-full flex-col items-center justify-start bg-primary-800 bg-hero-pattern bg-cover bg-right-bottom bg-no-repeat py-12 sm:py-20 xl:h-[100vh]"
  >
    <div
      class="absolute left-0 z-0 h-full w-full bg-leaves-floating bg-contain bg-left bg-no-repeat lg:-top-36 lg:h-[100vh] xl:-top-28"
    >
    </div>
    <div class="z-10">
      <h2 class="font-itali text-[2em] text-neutral-100 md:text-[4em]">
        Lorem Ipsum Dolor Sit Amer
      </h2>
      <p
        class="w-[40ch] p-4 text-sm text-neutral-200 md:w-[60ch] md:text-center"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, at.
        Corrupti facilis ad dolore aliquam sapiente nostrum.
      </p>
    </div>
    <div class="grid h-[300px] w-full place-items-center">
      <div
        class="relative h-full w-full max-w-[300px] sm:max-w-[480px] lg:max-w-[40vw]"
      >
        <Image class="absolute rotate-[112deg]" src={pizza} alt="a pizza" />
        <Image
          class="absolute -bottom-2 -left-8 w-1/2 rotate-[112deg] sm:-bottom-36 md:-bottom-48 lg:-bottom-36 xl:-bottom-[90%]"
          src={pizzaSlice}
          alt="a slice of pizza"
        />
      </div>
    </div>
  </section>

  <!-- Testimonial section -->
  <Container class="gap-14">
    <div
      class="flex flex-col items-center justify-around gap-8 py-20 md:flex-row md:px-12"
    >
      <div>
        <h3
          class="text-center font-itali text-[3em] leading-none md:text-[4em]"
        >
          Lorem Ipsum
        </h3>
        <p class="text-sm text-neutral-800">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nihil,
          architecto, cupiditate officiis dolorem non totam molestias culpa iure
          enim odio ipsam?
        </p>
      </div>
      <div>
        <h3
          class="text-center font-itali text-[3em] leading-none md:text-[4em]"
        >
          Lorem Ipsum
        </h3>
        <p class="text-sm text-neutral-800">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nihil,
          architecto, cupiditate officiis dolorem non totam molestias culpa iure
          enim odio ipsam?
        </p>
      </div>
      <div>
        <h3
          class="text-center font-itali text-[3em] leading-none md:text-[4em]"
        >
          Lorem Ipsum
        </h3>
        <p class="text-sm text-neutral-800">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nihil,
          architecto, cupiditate officiis dolorem non totam molestias culpa iure
          enim odio ipsam?
        </p>
      </div>
    </div>

    <div class="text-center">
      <p class="mb-12 font-semibold md:w-[60ch]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
        repudiandae? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <b>Lorem Ipsum</b>
    </div>
  </Container>

  <!--Contact section -->
  <Container class="bg-primary-900">
    <h2 class="text-[2em] font-bold text-neutral-50 md:text-[4em]">
      Title Here
    </h2>
    <p
      class="mb-12 text-center text-sm text-neutral-200 md:w-[60ch] md:text-base"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
      repellendus voluptatibus dolorum exeeum libero?
    </p>

    <div class="flex">
      <input
        class="w-full rounded-l-full px-4 md:w-64"
        type="email"
        name="email"
        id="email"
      />
      <Button class="rounded-r-full" variant="tertiary" type="submit"
        >Subscribe</Button
      >
    </div>
  </Container>

  <!-- Footer section -->
  <footer class="p-12 sm:p-20">
    <!-- // 4 columns, first one span 2 columns, second to fourth span 1 column -->
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-6 lg:gap-0">
      <div class="order-last space-y-4 md:order-first lg:col-span-3">
        <h3 class="text-2xl">Brand</h3>
        <p class="w-[30ch]">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          obcaecati!
        </p>
        <ul class="flex gap-4">
          <li
            class="grid h-12 w-12 place-items-center rounded-full bg-primary-700"
          >
            <svg
              class="h-6 w-6"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                class="fill-primary-50"></path>
              <path
                d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                class="fill-primary-50"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z"
                class="fill-primary-50"></path>
            </svg>
          </li>
          <li
            class="grid h-12 w-12 place-items-center rounded-full bg-primary-700"
          >
            <svg
              class="h-6 w-6 fill-primary-50"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              xml:space="preserve"
            >
              <g id="7935ec95c421cee6d86eb22ecd11b7e3">
                <path
                  style="display: inline;"
                  d="M283.122,122.174c0,5.24,0,22.319,0,46.583h83.424l-9.045,74.367h-74.379
           c0,114.688,0,268.375,0,268.375h-98.726c0,0,0-151.653,0-268.375h-51.443v-74.367h51.443c0-29.492,0-50.463,0-56.302
           c0-27.82-2.096-41.02,9.725-62.578C205.948,28.32,239.308-0.174,297.007,0.512c57.713,0.711,82.04,6.263,82.04,6.263
           l-12.501,79.257c0,0-36.853-9.731-54.942-6.263C293.539,83.238,283.122,94.366,283.122,122.174z"
                >
                </path>
              </g>
            </svg>
          </li>
          <li
            class="grid h-12 w-12 place-items-center rounded-full bg-primary-700"
          >
            <svg
              viewBox="0 -2 20 20"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="h-6 w-6 fill-primary-50"
              ><g stroke-width="0"></g><g
                stroke-linecap="round"
                stroke-linejoin="round"></g><g>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    transform="translate(-60.000000, -7521.000000)"
                    class="fill-primary-50"
                  >
                    <g id="icons" transform="translate(56.000000, 160.000000)">
                      <path
                        d="M10.29,7377 C17.837,7377 21.965,7370.84365 21.965,7365.50546 C21.965,7365.33021 21.965,7365.15595 21.953,7364.98267 C22.756,7364.41163 23.449,7363.70276 24,7362.8915 C23.252,7363.21837 22.457,7363.433 21.644,7363.52751 C22.5,7363.02244 23.141,7362.2289 23.448,7361.2926 C22.642,7361.76321 21.761,7362.095 20.842,7362.27321 C19.288,7360.64674 16.689,7360.56798 15.036,7362.09796 C13.971,7363.08447 13.518,7364.55538 13.849,7365.95835 C10.55,7365.79492 7.476,7364.261 5.392,7361.73762 C4.303,7363.58363 4.86,7365.94457 6.663,7367.12996 C6.01,7367.11125 5.371,7366.93797 4.8,7366.62489 L4.8,7366.67608 C4.801,7368.5989 6.178,7370.2549 8.092,7370.63591 C7.488,7370.79836 6.854,7370.82199 6.24,7370.70483 C6.777,7372.35099 8.318,7373.47829 10.073,7373.51078 C8.62,7374.63513 6.825,7375.24554 4.977,7375.24358 C4.651,7375.24259 4.325,7375.22388 4,7375.18549 C5.877,7376.37088 8.06,7377 10.29,7376.99705"
                      ></path>
                    </g>
                  </g></g
                >
              </g></svg
            >
          </li>
          <li
            class="grid h-12 w-12 place-items-center rounded-full bg-primary-700"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              class="h-8 w-8"
              xmlns="http://www.w3.org/2000/svg"
              ><g stroke-width="0"></g><g
                stroke-linecap="round"
                stroke-linejoin="round"></g><g>
                <path
                  d="M6.014 8.00613C6.12827 7.1024 7.30277 5.87414 8.23488 6.01043L8.23339 6.00894C9.14051 6.18132 9.85859 7.74261 10.2635 8.44465C10.5504 8.95402 10.3641 9.4701 10.0965 9.68787C9.7355 9.97883 9.17099 10.3803 9.28943 10.7834C9.5 11.5 12 14 13.2296 14.7107C13.695 14.9797 14.0325 14.2702 14.3207 13.9067C14.5301 13.6271 15.0466 13.46 15.5548 13.736C16.3138 14.178 17.0288 14.6917 17.69 15.27C18.0202 15.546 18.0977 15.9539 17.8689 16.385C17.4659 17.1443 16.3003 18.1456 15.4542 17.9421C13.9764 17.5868 8 15.27 6.08033 8.55801C5.97237 8.24048 5.99955 8.12044 6.014 8.00613Z"
                  class="fill-primary-50"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 23C10.7764 23 10.0994 22.8687 9 22.5L6.89443 23.5528C5.56462 24.2177 4 23.2507 4 21.7639V19.5C1.84655 17.492 1 15.1767 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23ZM6 18.6303L5.36395 18.0372C3.69087 16.4772 3 14.7331 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C11.0143 21 10.552 20.911 9.63595 20.6038L8.84847 20.3397L6 21.7639V18.6303Z"
                  class="fill-primary-50"></path>
              </g></svg
            >
          </li>
        </ul>
      </div>
      <div class="col-span-1">
        <h3 class="mb-4 text-xl font-semibold">About</h3>
        <ul class="text-neutral-800">
          <li><a href="#">History</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Brand Guidelines</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="mb-4 text-xl font-semibold">Services</h3>
        <ul class="text-neutral-800">
          <li><a href="#">How to Order</a></li>
          <li><a href="#">Our Product</a></li>
          <li><a href="#">Order Status</a></li>
          <li><a href="#">Promo</a></li>
          <li><a href="#">Payment Method</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="mb-4 text-xl font-semibold">Other</h3>
        <ul class="text-neutral-800">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</Layout>
